@page
@model Proyecto_Final_Registro_CESIM.Pages.Periodos.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Periodo[0].Parcial)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Periodo) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Parcial)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.periodoID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.periodoID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.periodoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
