@page
@model Proyecto_Final_Registro_CESIM.Pages.Docentes.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Docente[0].Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente[0].Apellidos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente[0].Sexo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente[0].Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente[0].Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente[0].Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Docente[0].Direccion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Docente) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombres)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellidos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sexo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.docenteID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.docenteID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.docenteID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
